@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #ffffff;
}

body {
  margin: 0;
  overflow: scroll;
}

.vis-elements {
  display: grid;
}
@media screen and (min-width: 700px) {
  .vis-elements {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
  }
}
